/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	
margin: 0;	
padding: 0;	
border: 0;	
font-size: 100%;	
font: inherit;	
vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	
display: block;}

body {	
line-height: 1.5;
}

ol, ul {	
list-style: none;
}

blockquote, q {	
quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {	
content: '';	
content: none;
}

table {	
border-collapse: collapse;	border-spacing: 0;
}	 
/* end reset*/

@font-face {
	font-family: kaorigel;
	src: url(./fnt/KaoriGel.ttf);
}
@font-face {
	font-family: kaorigelbold;
	src: url(./fnt/KaoriGelBold.ttf);
}

@font-face {
	font-family: nightintokyo;
	src: url(./fnt/NightinTokyo.ttf);
}
@font-face {
	font-family: nightintokyobold;
	src: url(./fnt/NightinTokyo-Bold.ttf);
}

/* add your css, mobile*/
html {
	font-family: kaorigel;
	font-size: 16px;
	background-color: #733702;
	color: #8C2703;
}

a {
	text-decoration: none;
}

a:link {
  color: #8C2703;
}

a:visited {
  color: #8C2703;
}

a:hover {
  color: #F2F2F2;
}

#wrapper {
	border: 0px solid red;
	margin: auto;
	max-width: 1000px;
	background-color: #F2B56B;
}

header {
	border: 0px solid gold;
}
header img {
	display: block;
	margin: 1% auto;
	width: 80%;
	border: 1px solid #8C2703;
	border-radius: 5px;
}

header p {
	border: 0px solid black;
	font-family: kaorigelbold;
	font-size: 1.1em;
	text-align: center;
	margin: 3% auto;
	max-width: 375px;
}

h1 {
	font-family: nightintokyo;
	border: 0px solid #F2F2F2;
	text-align: center;
	margin: auto;
	color: #731702;
  	font-size: 4.5em;
  	padding-top: 15px;
}

h2 {
	font-family: nightintokyo;
	border-top: 2px dashed #F2F2F2;
	text-align: center;
	color: #731702;
  	font-size: 2.5em;
  	padding-top: 10px;
}

h3 {
	font-family: kaorigelbold;
	border-bottom: 2px dashed #F2F2F2;
	margin-right: 65%;
	color: #731702;
  	font-size: 1.2em;
}

#data {
	border-top: 2px dashed #F2F2F2;
	margin: auto;
}

#data ul {
	border: 0px solid purple;
}

#data li {
	margin: 3% auto;
	text-align: center;
}

#data span {
	color: #3E4001;
	font-family: kaorigelbold;
	border: 0px solid plum;
  	font-size: 1.1em;
}

#ingredients {
	border: 0px solid black;
}

.container {
	border: 0px solid yellow;
}

.container span {
	font-family: kaorigelbold;
	color: #731702;
	border: 0px solid plum;
  	font-size: 1.1em;
  	color: #3E4001;
}

#box1, #box2, #box3 {
	border: 0px solid green;
	margin-bottom: 5%;
}

#box1 ul {
	border: 0px solid lightgreen;
}

#box1 li {
	border: 0px solid red;
}

#steps {
	border: 0px solid lightblue;
}

#steps h2 {
	margin: 1% auto;
}

#steps li {
	border-bottom: 0px solid orange;
	margin: 5% auto;
}

#steps span {
	border: 0px solid blue;
	color: #3E4001;
  	float: left;
  	font-family: kaorigelbold, Georgia;
  	font-size: 25px;
  	line-height: 20px;
  	padding-top: 4px;
  	padding-right: 8px;
  	padding-left: 3px;
}

footer {
	border-top: 2px solid #F2F2F2;
}

@media only screen and (min-width: 500px) {
	#data ul {
		display: grid;
		margin: 2%;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 100px;
	}

	#ingredients .container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 100px;
	}

	#box1 {
		margin-left: 25px;
	}
	#steps li{
		margin: 3% auto;
	}

	#steps ul {
		margin-top: -35px;
	}

	header img {
		max-width: 60%;
	}

}
/*
Color Scheme Hex Values:
Scheme 1?
#02000D
#565905
#F2F2F0
#8C2804
#731702

html {
	font-size: 16px;
	font-family: kaorigel;
	color: #F2F2F0;
}

a {
	text-align: center;
}

a:link {
	color: #F2F2F0;
	text-decoration: none;
}

a:visited {
	color: #F2F2F0;
}

a:hover {
	color: #FF00FF;
}

#wrapper  {
	width: auto;
	max-width: 1000px;
	margin: 5% auto;
	background-color: #875F9A;
	border: 1px solid blue;
}

header img {
	width: 75%;
}



header p {
	font-size: 1rem;
	text-align: center;
	margin-top: 2.5%;
}

h1, h2 {
	font-family: nightintokyo_bold, Arial, sans-serif;
	font-size: 3.2rem;
	border: 5px solid #424D20;
	border-radius: 10px;
	margin: 5% auto;
	padding-top: 5px;
	background-color: #41284D;

}

h2 {
	font-size: 1.25rem;
	text-align: center;
	min-width: 20%;
}

#data {
	margin: 5% auto;
}

#steps {
	border: 1px solid red;
}

#ingredients h2, #steps h2 {
	margin-top: -5%;
}

#ingredients ul span, #steps span{
	font-family: kaorigel_bold;
}

#data span, #batter, #filling, #topping {
	font-family: kaorigel_bold;
	font-size: 1.1rem;
}

footer {
	border-top: 2px solid lightblue;
}

#steps span {
	display: block;
	font-size: 2em;
}


@media only screen and (min-width: 500px) {
	#data ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}

	#ingredients {
		max-width: 90%;
		margin: 5% auto;
	}
	#ingredients ul {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-auto-flow: column;
		grid-gap: 10px 15px;
	}

	#steps {
		width: auto;
		margin: 5%;
	}

	#steps ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	}
}


@media only screen and (min-width: 1000px) {
	#data ul {
		grid-template-columns: repeat(4, 1fr);
	}

	#steps h2 {
		max-width: 55%;
	}

	#steps ul {
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-auto-flow: column;
	}
}
*/