@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
	background-color: #0D0D0D;
	font-family: 'Press Start 2P', helvetica, arial, sans-serif;
	font-size: 20px;
	border: 0px solid white;
	text-align: center;
	//background-image: linear-gradient(#080D0D, #80858C);
	background-image: url(./img/background.png);
	background-size: contain;
	background-attachment: fixed;

}

a {
	display: block;
	border: 0px solid white;
	text-align: center;
}

a:link {
	color: #0D0D0D;
	text-decoration: none;
}

a:visited {
	color: #0D0D0D;
}

a:hover {
	color: #FFBF47;
}

footer a {
	display:inline-block;
}

#wrapper{
	width: 50%;
	margin: 20px auto;
	background-color: #80858C;
	border: 20px double #262522;
}

#poem {
	border: 0px solid white;
	margin: 20px auto;
	width: 75%;
}

#poem img {
	width: 90%;
	margin-top: 10px;
}

.stanza {
	border: 0px solid red;
	margin: 100px auto;
	text-align: left;
	font-family: 'Press Start 2P', georgia, "times new roman", sans-serif;
	color: #0D0D0D;

}

.stanza h3 {
	color: #FFBF47;
}

#bio {
	border: 0px solid red;
	width: 75%;
	margin: 20px auto;
	color: #0D0D0D;
	text-align: left;
}

#bio h2 {
	text-align: center;
	font-size: 30px;
}
#bio img {
	width: 100%;
	border: 5px double #262522;
}



